.venv/
# Saved weights and graphs (dynamic output)
saved_models/

# Python caches
adversary/__pycache__/
client/__pycache__/
server/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
dummy/
coverage.xml
*.cover

# Logs
*.log
wget-log*
.log