.venv/
__pycache__/

# Python caches
adversary/__pycache__/
client/__pycache__/
server/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
dummy/
coverage.xml
*.cover

# Logs
*.log
wget-log*
.log

*.aux
*.out
*.bbl
*.blg
*.lof
*.lot
*.log
*.synctex.gz
*.fls
*.fdb_latexmk